body {
    text-transform: capitalize;
    background-color: #f0f0f0; /* Light Gray */
}

.add-btn-styled {
    background-color: chartreuse;
    border: 1px solid greenyellow;
}

.remove-btn-styled {
    background-color: red;
    border: 1px solid red;
}

.remove-btn-styled:hover {
    background-color: rgb(170, 45, 45);
}

.add-btn-styled:hover {
    background-color: rgb(76, 146, 6);
}
